.experience{
    background-color: #fcfbf0;
    color: black;
    padding: 5rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
}

.experience-sections{
    display: flex;
}

.logo-style{
    border-radius: 5px;
}

.logo-container{
    padding: 1rem 2rem 2rem 1rem;
}

.exp-container {
    padding: 1rem 2rem 2rem 1rem;
    margin-left: 10%;
}

.experience-text {
    min-width: 20rem;
}

@media (max-width: 768px) {
    .experience{
        background-color: #fcfbf0;
        color: black;
        padding: 5rem 5rem 5rem 5rem;
        display: flex;
    }

    .experience-text {
        min-width: 12rem;
    }

    .experience-sections{
        display: block;
    }

    .exp-container {
        padding: 0px;
        margin-left: -1.5rem;
    }
}