.headline-h1 {
  font-size: 56px !important;
  /* 48px */
  font-weight: bold;
  line-height: 100px;
  /* 64px */
}

.display-h2 {
  font-size: 48px;
  /* 48px */
  font-weight: bold;
}

.headline-h2 {
  font-size: 36px;
  /* 36px */
  font-weight: 600;
  line-height: 25px;
  /* 52px */
}

.display-h3 {
  font-size: 36px;
  /* 36px */
  font-weight: bold;
}

.headline-h3 {
  font-size: 32px;
  /* 32px */
  font-weight: bold;
  line-height: 38px;
  /* 38px */
}

.subtitle-h1 {
  font-size: 21px;
  /* 32px */
  font-weight: lighter;
  line-height: 38px;
  /* 38px */
}

.context-text {
  font-weight: 300;
  font-size: larger;
  line-height: 2;
}
